<form [formGroup]="myForm" (ngSubmit)="toServer(myForm.value)">
  <div>
    Name:
    <input type="text"  [formControl]="myForm.controls['name']" >
  </div>
  <div>
    Phone:
    <input type="text"  [formControl]="myForm.controls['phone']" >
  </div>
  <div formGroupName="password">
    <div>
      Password:
      <input type="text" formControlName="npass">
    </div>
    <div>
      Repeat Password:
      <input type="text" formControlName="rpass"  >
    </div>
  </div>
  <button type="submit" [disabled]="myForm.invalid">Submit</button>
</form>
{{myForm.controls['phone'].errors | json}}